.btn{
margin-top: 10px;
}

.service{
    margin-top:10%;
}

.about{
cursor: pointer;
position: absolute;
right: 0;
text-align: center;
text-decoration: underline;
cursor: pointer;
margin-right: 40px;
}

footer{
    margin-top: 10%;
}

main{
margin-left:30px; 
margin-right: 30px;
}

.login{

    margin:10px;
    margin-bottom: 0px;
}



.forgot{
text-decoration: underline;
cursor: pointer;
display: inline;
position: absolute;
}
.services{
    padding-top: 10px;
    text-align: center;
    font-style: bold;

}

.logo{

    padding-top:20%;
    padding-bottom:20%; 
}

img{
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

i{
    margin-right: 15px;
}