.MasterDB{
    padding-top: 45px;
    padding-bottom: 69px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;

}

.d4
{
  overflow: auto;
  max-height: 100%;
}
.d5 {
    min-width: 0px;
    max-height: 78vh;
}

.input-group{
    margin-left: 0.5%;
	margin-right: 0.5%;
    position: unset;
}

.input{position: unset;}

.col-md-12, .form-control, .input-lg{position: unset;}

.title{
    font-size: 30px;
}
details{
    left: 0;
}



summary{
    padding-top: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 15px;
    font-style: bold;
    font-size: 20px;
    width: 100%;
	background-color: white;
    border-radius: 5px;
    border: 1.5px solid #cccccc;
	box-shadow: 0 0 10px #e6e6e6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

p{
    font-size: 15px;
}