<!-- the page title -->
<app-header [item]="title"></app-header>

<!-- the page -->

<div class = "MasterDB">
  <div class = "input-group">
    <input type = "text" class = "form-control input-lg" placeholder = "project name" [(ngModel)] = "projectName" />
    <span class = "input-group-btn">
      <button class = "btn btn-defult btn-lg" type = "button" (click) = "searchProject()">
        <i class = "glyphicon glyphicon-search"></i>
      </button>
    </span>
  </div>

  <div class = "d4">
    <div class = "d5">
      <div *ngFor = "let project of projectsValues_Arr">
        <app-dbproject  (close) = "commentOpen('')" (sendComment) = "commentOpen(project.$key)" *ngIf = "(project.name).search(projectName) != -1" [item] = "project" [path] = "saveProjectPath(project)" [first] = "firstC(project.$key)"></app-dbproject>
      </div>
    </div>
  </div>
</div>
