.MasterDB{
    margin-top: 45px;
    margin-bottom: 69px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.title{
    font-size: 30px;
}
details{
    left: 0;
}



summary{
    padding-top: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 15px;
    font-style: bold;
    font-size: 20px;
    width: 100%;
    background-color:darkgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

p{
    font-size: 15px;
}