<div class="MasterDB">

  <div *ngFor = "let project of projects | async" > 
      <app-dbproject [item]="project" [path] = "saveProjectPath(project)" [first]="first" (click)="change()"></app-dbproject>
  </div>




</div>
<!--<div class ="title">Click on the project's name to show more details...</div>

<details ng-open="showDetails">
  <summary>project 1</summary>
  <p> - by Refsnes Data. Al
     by Refsnes Data. Al
      by Refsnes Data. Al
       by Refsnes Data. Al
        by Refsnes Data. Al
    Rights Reserved.</p>
</details>


<details ng-open="showDetails">
  <summary>project 2</summary>
  <p> - by Refsnes Data. All Rights Reserved.</p>
</details>

<details ng-open="showDetails">
  <summary>project 3</summary>
  <p> - by Refsnes Data. All Rights Reserved.</p>
</details>

<details ng-open="showDetails">
  <summary>project 4</summary>
  <p> - by Refsnes Data. All Rights Reserved.</p>
</details>

<details ng-open="showDetails">
  <summary>project 5</summary>
  <p> - by Refsnes Data. All Rights Reserved.</p>
</details>


<details ng-open="showDetails">
  <summary>project 6</summary>
  <p> - by Refsnes Data. All Rights Reserved.</p>
</details>


<details ng-open="showDetails">
  <summary>project 7</summary>
  <p> - by Refsnes Data. All Rights Reserved.</p>
</details>

<details ng-open="showDetails">
  <summary>project 8</summary>
  <p> - by Refsnes Data. All Rights Reserved.</p>
</details>


</div>
-->
