<main>

    <!-- up part of a project - the clock & the name of a project -->
    <div id="up">
        <i class="simbol fa fa-clock-o" id="clock" aria-hidden="true">{{leftDays}}d</i>
        <div class="row">
            <div class=" align-right">
                <i *ngIf="voteStatus!='for'" class="simbol fa fa-thumbs-o-up" id="like" aria-hidden="true" (click)="!votingFor && votFor()"></i>
                <i *ngIf="voteStatus=='for'" class="simbol fa fa-thumbs-o-up" id="transparentElement" aria-hidden="true"></i>
            </div>
            <div class="projectName  container">
                <h4> {{projectName}} </h4>
            </div>
            <div>
                <i *ngIf="voteStatus!='against' && !isAccuciatedUser" class="simbol fa fa-thumbs-o-down  pull-right" id="unlike" aria-hidden="true" (click)="votAgainst()"></i>
                <i *ngIf="voteStatus=='against'" class="simbol fa fa-thumbs-o-down  pull-right" id="transparentElement" aria-hidden="true"></i>
                <!--<h5 *ngIf="isAccuciatedUser" id="txtAssigned"> You are assigned </h5>-->
            </div>
        </div>
    </div>

    <!-- footer of a project - the voting status -->
    <div *ngFor="let value of projectFBList | async">
        <div id="down">
            <div *ngIf="value.$key == 'for'">
                <label class="green" for="for" id="for"><i class="lable fa fa-thumbs-o-up fa-lg" aria-hidden="true" ></i><p #forVal> {{ value.$value }} </p> </label>
            </div>
            <div *ngIf="value.$key == 'avoid'">
                <label class="yellow" for="avoidance" id="avoidance"><i class="lable fa fa-ban" aria-hidden="true"></i> <p #avoidVal> {{ value.$value }} </p></label>
            </div>
            <div *ngIf="value.$key == 'against'">
                <label class="red" for="against" id="against"><i class="lable fa fa-thumbs-o-down fa-lg " aria-hidden="true"></i><p #againstVal> {{ value.$value }} </p></label>
            </div>
            <div *ngIf = "value.$key == 'uploudDate' && updateLeftDays(value.$value)">
            </div> 
        </div>
    </div>

</main>