
#SuggestedProjects {
    margin-top: 38px;
}



app-projectForSelect{position: unset;}

.project-description {
    padding: 20px;
    line-height: 1.3;
    background-color: #908f8f;
    color: #fff;
    font-size: 18px;
    text-align: left;
    height: 54vh;
    overflow-y: auto;
}

.selectProject {
    text-align: center;
    padding: 25px;
}

.selectProject button {

    background: #FFFFCC;///
    color: #908f8f;
    display: block;
    margin: 3% auto;//
    padding: 2%;
    text-align: center;
    width:50%;
    border-width:3px ;
    border-color: #FFE6E6;
    font-size: 100%;
}
/* You can add global styles to this file, and also import other style files */

.slick-slider .slick-arrow {
    background-color: #e3e3e3;
    position: absolute;
    top: 50%;
}

.slick-slider .slick-arrow.slick-next {
    text-indent: -9999px;
    right: -30px;
    border-radius: 40%;
    top: 50%;
    display: block;
    border:none;
    height: 20px;
    margin-top: -10px;
    cursor: pointer;
    color: transparent;
    outline: none;
    background-color: transparent;
}

.slick-slider .slick-arrow.slick-prev {
    text-indent: -9999px;
    left: -30px;
    border:none;
    display: block;
    height: 20px;
    margin-top: -10px;
    cursor: pointer;
    color: transparent;
    outline: none;
    background-color:transparent;
}

.slick-slider .slick-arrow.slick-next:before {
    position: absolute;
    text-indent: 0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    content: '❯';
    color: gray;
}

.slick-slider .slick-arrow.slick-prev::before {
    position: absolute;
    text-indent: 0;
    top:0;
    left:0;
    right:0;
    bottom:0;
    content: '❮';
    color: gray;
}

/*body {
    padding-top: 10%;
    height: 100%;
    width: 100%;
    font-size: 20px;
    background-color: #e3e3e3;
}

#SuggestedProjects {
    width:80%;
    margin: 0 9%;
    display: block;
    height: 100%;

}

.vertical-menu1
{
    padding: 2%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    line-height: 1;
    color: #414141;
    margin: 0 auto;
    max-width: 100%;

    width: 100%;
    display: inline-block;
    overflow-x:hidden;
    overflow-y: scroll;
}





.selectProject{
    border: none;
    border-radius: 8%;

}

.selectProject button{
    background: #FFFFCC;
    color: gray;
    display: block;
    margin: 3% auto;
    padding: 2%;
    text-align: center;
    width:50%;
    border-width:3px ;
    border-color: #FFE6E6;
    font-size: 100%;
}

#dataBaseButton{
     background: #FFFFCC;
    color: gray;
    display: block;
    margin: 2% auto;
    padding: 2%;
    text-align: center;
    width: 90%;
    height: 5%;
    border-width:3px ;
    border-color: #FFE6E6;


    font-size: 20px;
}

.clear {
    clear: both;
}



@media only screen and (max-height: 1366px)
{
    .vertical-menu1
    {
        height:  900px;
    }

}


@media only screen and (max-height: 1024px)
{
    .vertical-menu1
    {
        height:  600px;
    }

}


@media only screen and (max-height: 736px)
{
    .vertical-menu1
    {
        height:  400px;
    }

}


@media only screen and (max-height: 732px)
{
    .vertical-menu1
    {
        height:  390px;
    }

}


@media only screen and (max-height: 667px)
{
    .vertical-menu1
    {
        height:  330px;
    }
}


@media only screen and (max-height: 640px)
{
    .vertical-menu1
    {
        height:  300px;
    }

}


@media only screen and (max-height: 568px)
{
    .vertical-menu1
    {
        height:  240px;
    }


}
*/