

<!--========================== the page ==============================-->

<body>
<div class = "part1">
    <div *ngFor = "let associatedCommunities of projectsAssociatedCommunities_Arr; let i = index" [attr.data-index]="i" ><!--- ////////////////// i++??-->
        <div *ngFor = "let community of associatedCommunities | async ">
            <!--<div class = " col-centered">-->
            <!--<div #scrollMeProj class = "vertical-menu-x" > -->
            <div *ngIf = "community.$key == userCommunity && community.associatedUser == '' && saveProjectPath(community,i)" class="picture" id="pic1">
                <app-projectForSelect
                        [item] = "projectPath"
                        (click) = "loadProjectDetails(community,i)"
                        (voteChoose)='try = true'>
                </app-projectForSelect>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>

<!--//No projects have been selected for discussion yet...-->
<div class = " part2">
    <div class = "vertical-menu1" >
        <h5 *ngIf = 'projectSelected'>
            <p> Date: {{date}} </p>
            <p> Cost: {{cost}} </p>
            <p> Purpose: {{purpose}} </p>
            <p> Description: {{description}} </p>
        </h5>
        <h4 *ngIf = '!projectSelected'> Click on a project for viewing its details... </h4>
    </div>
</div>

<div class = " part3">
    <button id =chooseProject   (click) = "chooseProject(community,i)">Nominate </button>
</div>

<div *ngIf = 'nominateProject' class = "nominateAlert">

    <form>
        Date:<br>
        <input type="date" name="date" >
        <br>
        Cost:<br>
        <input type="number" name="cost" >
        <br><br>
        <input id="submitButton" type="submit" value="Submit"  (click) = "choosen(community,i)">
    </form>

</div>

</body>









