.body2
{
    margin-top: 10%;
    background-color: #E3E3E3;

}
.descriptionOfProject{
    font-size: 14px;
}

.part1
{
    width: 100%;
}
.temp
{
  display: inline-block;
}
.vertical-menu-x
{

    overflow-x: auto;
    overflow-y: hidden;

    white-space: nowrap;
}
::-webkit-scrollbar:horizontal
 {
   -webkit-appearance: none;
   height: 4px;
 }

::-webkit-scrollbar-thumb:horizontal
 {
   border-radius: 4px;
   background-color: rgba(0, 0, 0, .5);
 }

.part2 {
    background-color: #E3E3E3;
}

.part3 {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -5%;
}

/*========================================= CSS for the chat ============================================*/

br {
    display: block;
    line-height: 1.6em;
}

p {
    font-size: 1.2em;
    line-height: 1.25em;
}

.date-stamp {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 8px;
    color: grey;
    width: 100%;
}

.container {
    height: 50%;
    width: 100%;
}

/* ============================ CSS of vertical-menu-y ======================= */

.vertical-menu1 {
    padding: 3%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    line-height: 1;
    color: #414141;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: scroll;
}

.vertical-menu2 {
    padding: 2%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    line-height: 1;
    color: #414141;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* ====================== CSS of vertical-menu-x ======================= */

.vertical-menu-x {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

/* ============================ CSS of input ======================= */

input::placeholder {
    text-align: left;
}

/* ======================= CSS of scrollbar of the chat ======================= */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
}



#chooseProject {
    background-color: green; /* Green */
    color: white;
    border-radius: 12%;
    padding: 6%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 31px;
    cursor: pointer;
}

/*=================================== fixing heights according to the screen's size ======================================== */

@media only screen and (max-height: 1366px) {
    .vertical-menu1 {
        height: 820px;
    }

}

@media only screen and (max-height: 1024px) {
    .vertical-menu1 {
        height: 687px;
    }

}

@media only screen and (max-height: 736px) {
    .vertical-menu1 {
        height: 439px;
    }

}

@media only screen and (max-height: 732px) {
    .vertical-menu1 {
        height: 416px;
    }

}

@media only screen and (max-height: 667px) {
    .vertical-menu1 {
        height: 367px;
    }

}

@media only screen and (max-height: 640px) {
    .vertical-menu1 {
        height: 340px;
    }

}

@media only screen and (max-height: 568px) {
    .vertical-menu1 {
        height: 288px;
    }

}

.details {
    visibility: hidden;
}

.nominateAlert {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

.nominateAlert form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;
    text-align: center;
    background-color: white;

}

#submitButton {
    background-color: green;

    border-radius: 10%;
    color: white;
    border-color: white;
    padding: 4%;

}

.close {
    position: absolute;
    left: -15px;
    top: -15px;
    background-color: black;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    opacity: 1;
    color: white;
    font-weight: 300;
}

.close:hover {
    opacity: 0.8;
}