.body2
{
    margin-top: 10%;
    background-color: #E5E7E9;
}

.part1
{
    width: 100%;
}

.temp
{
  display: inline-block;
}

.vertical-menu-x
{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

::-webkit-scrollbar 
{
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar:horizontal
 {
   -webkit-appearance: none;
   height: 4px;
 }

::-webkit-scrollbar-thumb 
{
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-thumb:horizontal
{
    background-color: rgba(0, 0, 0, .5);
}

.part2 
{
    background-color: #E5E7E9;
    overflow-y: auto;
    overflow-x: hidden;
}

.part3 
{
    width: 100%;
    text-align: center;
}

br 
{
    display: block;
    line-height: 1.6em;
}

p 
{
    font-size: 1.2em;
    line-height: 1.25em;
}

/* ============================ CSS of vertical-menu-x ======================= */

.vertical-menu1 
{
    padding: 3%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    line-height: 1;
    color: #414141;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 50vh;
}

/* ====================== CSS of vertical-menu-x ======================= */

.vertical-menu-x 
{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

input::placeholder 
{
    text-align: left;
}

#chooseProject 
{
    background-color: green;
    color: white;
    padding: 7px 20px;
    border: 0;
    border-radius: 7px;
}

/*======================== css of popUp message =========================== */

.details 
{
    visibility: hidden;
}

.popAlert 
{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

.popAlert form 
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 7%;
    text-align: center;
    background-color: white;
}

#submitButton 
{
    background-color: green;
    border-radius: 10%;
    color: white;
    border-color: white;
    padding: 4%;
}

.close 
{
    position: absolute;
    left: -5%;
    top: -5%;
    background-color: black;
    border-radius: 50%;
    width: 15%;
    height: 16%;
    line-height: 163%;
    opacity: 1;
    color: white;
}

.close:hover 
{
    opacity: 0.8;
}

/*=================================== fixing heights according to the screen's size ======================================== */

@media only screen and (max-height: 1366px) 
{
    ::-webkit-scrollbar 
    {
        width: 7px;
    }

    ::-webkit-scrollbar:horizontal
    {
        height: 4px;
    }

    ::-webkit-scrollbar-thumb 
    {
        border-radius: 4px;
    }

    .descriptionOfProject
    {
        font-size: 14px;
    }
}

@media only screen and (max-height: 1024px) 
{
    ::-webkit-scrollbar 
    {
        width: 7px;
    }

    ::-webkit-scrollbar:horizontal
    {
        height: 4px;
    }

    ::-webkit-scrollbar-thumb 
    {
        border-radius: 4px;
    }
    
    .descriptionOfProject
    {
        font-size: 20px;
    }
}

@media only screen and (max-height: 736px) 
{
    ::-webkit-scrollbar 
    {
        width: 7px;
    }

    ::-webkit-scrollbar:horizontal
    {
        height: 4px;
    }

    ::-webkit-scrollbar-thumb 
    {
        border-radius: 4px;
    }

    .descriptionOfProject
    {
        font-size: 14px;
    }
}

@media only screen and (max-height: 732px) 
{
    ::-webkit-scrollbar 
    {
        width: 7px;
    }

    ::-webkit-scrollbar:horizontal
    {
        height: 4px;
    }

    ::-webkit-scrollbar-thumb 
    {
        border-radius: 4px;
    }
    
    .descriptionOfProject
    {
        font-size: 18px;
    }
}

@media only screen and (max-height: 667px) 
{
    ::-webkit-scrollbar 
    {
        width: 7px;
    }

    ::-webkit-scrollbar:horizontal
    {
        height: 4px;
    }

    ::-webkit-scrollbar-thumb 
    {
        border-radius: 4px;
    }
    
    ::-webkit-scrollbar:horizontal
    {
        height: 4px;
    }
    
    .descriptionOfProject
    {
        font-size: 14px;
    }
}

@media only screen and (max-height: 640px) 
{
    ::-webkit-scrollbar 
    {
        width: 7px;
    }

    ::-webkit-scrollbar:horizontal
    {
        height: 4px;
    }

    ::-webkit-scrollbar-thumb 
    {
        border-radius: 4px;
    }
    
    .descriptionOfProject
    {
        font-size: 14px;
    }
}

@media only screen and (max-height: 568px) 
{
    ::-webkit-scrollbar 
    {
        width: 7px;
    }

    ::-webkit-scrollbar:horizontal
    {
        height: 4px;
    }

    ::-webkit-scrollbar-thumb 
    {
        border-radius: 4px;
    }
    
    .descriptionOfProject
    {
        font-size: 14px;
    }
}


/** Overdue by r */

@media screen and (min-width: 768px) 
{
    .body2 
    {
        margin-top: 5%;
    }
}