.addUser
{
    padding-bottom: 60px;
    padding-top: 30px;
    height: 100%;
}

.intoduction
{
    color: #000040;
    font-weight: normal;
    line-height: 150%;
}

.form-control
{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    position: unset;
}

fieldset
{
    border:none;
    margin: 0%;
    padding: 0%;
}

.col-lg-4, .col-md-4, .col-sm-4, .col-xs-4, .col-lg-8, .col-md-8, .col-sm-8, .col-xs-8, .col-lg-12, .col-md-12, .col-sm-12, .col-xs-12
{
    position: unset;
}


.Alert 
{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
	right: 0px;
}

.close 
{
    position: absolute;
    left: -5%;
    top: -5%;
    background-color: black;
    border-radius:50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    opacity: 1;
    color: white;
}

.close:hover 
{
    opacity: 0.8;
}


.Alert form 
{
	top:0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 7%;
    text-align: center;
    background-color: white;
	border-radius:10px;
	border-color: grey; 
	width: 300px;
	
	

}
