.addUser{
    padding-bottom: 60px;
    padding-top: 30px;
    height: 100%;
}

.col{
    position: unset;
}

.intoduction{
    color: #000040;
    font-weight: normal;
    line-height: 150%;
}

.col-lg-12{position: unset;}
.col-md-12 {position: unset;}
.col-sm-12 {position: unset;}
.col-xs-12{position: unset;}
.col-md-3{position: unset;}
.col-md-9{position: unset;}