.addUser{
    padding-bottom: 60px;
    padding-top: 30px;
    height: 100%;
}

.intoduction{
    color: #000040;
    font-weight: normal;
    line-height: 150%;
}

.form-control{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    position: unset;
}

.col-lg-12, .col-md-12, .col-sm-12, .col-xs-12{
    position: unset;
}.col-lg-3, .col-md-3, .col-sm-3, .col-xs-3{
    position: unset;
}.col-lg-9, .col-md-9, .col-sm-9, .col-xs-9{
    position: unset;
}