<div class="SubmitProject">
  <div class="container">
	  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form class="form-horizontal" action="" method="post">
          <fieldset> <br>   
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="ProjectName" >Project's Name</label>
              <div class="col-md-9">
                <input [(ngModel)] = "name" class="form-control" id="ProjectName" name="ProjectName" maxlength="10" type="text" placeholder="maximum 10 characters">
              </div>
            </div>
    
            <!-- Purpose body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="Purpose">Purpose for the Jewish community</label>
              <div class="col-md-9">
                <input [(ngModel)] = "purpose" class="form-control" id="Purpose" name="Purpose" maxlength="32" placeholder="maximum 32 characters">
             
              </div>
            </div>
    
            <!-- Description input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="Description">Description</label>
              <div class="col-md-9">
                <textarea [(ngModel)] = "description" class="form-control" id="Description" name="Description" placeholder="Please enter the project's description here" rows=15></textarea>
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg" (click) = "PopMassage()">Submit</button>
              </div>
            </div>


<div *ngIf = "showDetailsForm" class = "nominateAlert">
			<form>
				<div class="close" (click)="PopMassage()">X</div>

        <div *ngIf="whatToPop=='fieldEmptyPop'">
          	You must fill out all fields before submitting a project.
        </div>

        <div *ngIf="whatToPop=='projectSendPop'">
          	Your project was send!
        </div>

			</form>
		</div>


          </fieldset>
        </form>
      </div>
	  </div>
  </div>

</div>
