<div class="SubmitProject">
  <div class="container">
	<div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <form class="form-horizontal" action="" method="post">
          <fieldset> <br>   
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="ProjectName" >Project's Name</label>
              <div class="col-md-9">
                <input id="ProjectName"  [(ngModel)] = "Name" name="ProjectName" maxlength="40" type="text" placeholder="Please enter your project's name here" class="form-control">
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="Description">Description</label>
              <div class="col-md-9">
                <textarea [(ngModel)] = "Description" class="form-control" id="Description" name="Description" placeholder="Please enter the project's description here" rows="6"></textarea>
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="Purpose">Purpose for the Jewish community</label>
              <div class="col-md-9">
                <textarea [(ngModel)] = "Purpose" class="form-control" id="Purpose" name="Purpose" placeholder="Please enter the project's purpose here" rows="6"></textarea>
             
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg" (click) = "sendProject()">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
      </div>
	</div>
</div>

</div>
