<div class="continer">
<div class="col-lg-12">
<main>
  <details ng-open="showDetails">
  <summary> Project's name: {{Name}}</summary>
  <p> Description: {{Description}}<br>
      Purpose for the jewish communuty: {{Purpose}}
  </p>
</details>
<div class = "social">
	<span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  <span class="glyphicon glyphicon-star"></span>
  (87) | <span class="glyphicon glyphicon-comment"></span> (100)
</div>
</main>
</div>
</div>