
main {
	box-sizing: border-box;
	border-radius: 5px;
	border: 1.5px solid #cccccc;
	box-shadow: 0 0 10px #e6e6e6;
	background-color: #F5F5F5;
	padding: 1% 1% 1% 1%;
	margin-top: 1%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	height: 20%;
	width: 100%;
}

span{position: initial;}

.continer{
	position: unset;
}

.yello{color:yellow;}

.col-lg-12{
position: unset;
}

.InRight{ 
	right: 0;
	margin-right: 0.5%;
}
.glyphicon-star{color:white; text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;}

summary{font-size: 25px; padding-bottom: 10px; outline: 0;}

p{font-size: 20px;}

.social{font-size: 20px; padding-left: 8px; padding-right: 0.5%;}

summary::-webkit-details-marker { display: none}

summary:after {content: " ";}

.comment{display: inline;
}

.glyphicon-comment{color: #FFF2A8; text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;}