<div class="continer">
<div class="col-lg-12">
<main>
  <details ng-open="showDetails">
  <summary> Project's name: {{item.name}} </summary>
  <p> Description: {{item.description}}<br>
      Purpose for the jewish communuty: {{item.purpose}}
  </p>
</details>
<div class = "social">
  <div class="comment">
	 <span class="glyphicon glyphicon-comment"></span> (100)</div>
  <div class="InRight">
   <button class="btn btn-primary btn-lg" *ngIf="serviceService.getPermission()=='2'" (click)="Nominate()" >Nominate</button>
  
  <div class ="btn-grup" *ngIf="serviceService.getPermission()=='1'">
  <button class="btn btn-primary btn-lg"  (click)="pushToBoard()">Push</button> 
  <input [(ngModel)] ="community" type="text" class="form-control" placeholder="community">
  </div>
  
  </div>
</div>
</main>
</div>
</div>