
main 
{
	box-sizing: border-box;
	border-radius: 5px;
	border: 1.5px solid #cccccc;
	box-shadow: 0 0 10px #e6e6e6;
	background-color: #F5F5F5;
	padding: 1% 1% 1% 1%;
	margin-top: 1%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	height: 20%;
	width: 100%;
}

.from
{
	font-size: 17px;
	display: inline;
}

.d4
{
  overflow: auto;
  max-height: 200px;
}

.d5 
{
	min-height: 0px;
    max-height:200px;
}

span
{
	position: initial;
}

.continer
{
	position: unset;
}

/*======================== css of popUp message =========================== */

.center-block
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.popAlert 
{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
	right: 0px;
}

form
{
	font-size: 20px;
}

.close 
{
    position: absolute;
    left: -5%;
    top: -5%;
    background-color: black;
	border-radius:50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    opacity: 1;
    color: white;
}

.close:hover 
{
    opacity: 0.8;
}

.popAlert form 
{
	top:0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 7%;
    text-align: center;
    background-color: white;
	border-radius:10px;
	border-color: grey; 

}

/*=================================================== */

.col-lg-6,.btn,.btn-default,.form-control,.btn-success
{
	position: unset;
}

.input-group
{
	position: unset;
}

.whiteH{
	color: white; text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;


}

.redH{
	color: red; text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.input-group-btn
{
	position: unset;
}

.col-lg-12
{
	position: unset;
}

.commmm
{
	display:inline;
}

.glyphicon-heart
{
	display: inline-block;
	position: unset;
	margin-right:5px; 
}

.likes{
	display: inline;
}

.title
{
	font-size: 25px;
	padding-bottom: 10px;
	outline: 0;
}

.comments
{
	margin: 15px;
	margin-right: 5px;
}

.btn-grup
{
	display: inline;
}

.more
{
	font-size: 20px;
	width: 100%;
}

.social
{
	font-size: 20px; 
	padding-left: 8px; 
	padding-right: 0.5%;
}

.comment
{
	display: inline;
}

.glyphicon-comment
{
	color: #FFF2A8;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}