<!-- the page title -->
<app-header [item]="title"></app-header>

<!-- the page -->
<div class="home">
  <div class="container">
    <div class="row">
<br>
        <div *ngFor="let user of usersFBList | async">
          <div *ngIf="user.permission==3">
            <br>
            <br>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <button type="auser" class="btn menubutton btn-warning" title="Toggle dropdown menu" (click)="showDropdow(user)">
                <i class="fa fa-user fa-fw"></i> {{  user.name  }} <i class="fa fa-caret-down"></i></button>
              <div *ngIf="whatToDrop.$key==user.$key" class="menu">
                  <div class="editor">

                    <!----work updateName-->
                        <div *ngIf = "!updateNameFlag">
                          Name: {{ user.name }} <i class = "fa fa-pencil  fa-1x" aria-hidden = "true" (click) = "updateName()"></i>
                        </div>
                        <div *ngIf = "updateNameFlag">
                          <label> Name: <input #newNameVal class = "nameInput fields" type = "text" name = "txtName"><i class = "fa fa-check  fa-1x" aria-hidden = "true" (click) = "OKupdateName(newNameVal.value, true)"></i><i class = "fa fa-times" aria-hidden = "true" (click) = "OKupdateName(newNameVal.value, false)"></i></label>
                        </div>
                      <br>
                    <!----work updateName-->

                 <div *ngIf= "user.permission!=3">   Community: {{ user.associatedCommunity }} <br><br></div>
                    <!----work updateCommunity-->
                    <div *ngIf= "user.permission==3"> 
                      <div *ngIf = "!updateCommunityFlag">
                          Community: {{ user.associatedCommunity }} <i class = "fa fa-pencil  fa-1x" aria-hidden = "true" (click) = "updateCommunity()"></i>
                        </div>
                        <div *ngIf = "updateCommunityFlag">
                          <label> Community: <input #newCommunityVal class = "CommunityInput fields" type = "text" name = "txtCommunity"><i class = "fa fa-check  fa-1x" aria-hidden = "true" (click) = "OKupdateCommunity(newCommunityVal.value, true)"></i><i class = "fa fa-times" aria-hidden = "true" (click) = "OKupdateCommunity(newCommunityVal.value, false)"></i></label>
                        </div>
                      <br>
                    </div>
                    <!----work updateCommunity-->

                      TenPartners Account: {{ user.email }} <br><br>
                      <!--<div *ngIf = "!updateEmailFlag">
                           TenPartners Account: {{ user.email }} <i class = "fa fa-pencil  fa-1x" aria-hidden = "true" (click) = "updateEmail()"></i>
                        </div>
                        <div *ngIf = "updateEmailFlag">
                          <label>  TenPartners Account: <input #newEmailVal class = "emailInput fields" type = "text" name = "txtEmail"><i class = "fa fa-check  fa-1x" aria-hidden = "true" (click) = "OKupdateEmail(newEmailVal.value, true)"></i><i class = "fa fa-times" aria-hidden = "true" (click) = "OKupdateEmail(newEmailVal.value, false)"></i></label>
                        </div>
                      <br>-->


                      <div *ngIf = "!updateGoogleFlag">
                          Google Account: {{ user.google }} <i class = "fa fa-pencil  fa-1x" aria-hidden = "true" (click) = "updateGoogle()"></i>
                        </div>
                        <div *ngIf = "updateGoogleFlag">
                          <label> Google Account: <input #newGoogleVal class = "GoogleInput fields" type = "text" name = "txtGoogle"><i class = "fa fa-check  fa-1x" aria-hidden = "true" (click) = "OKupdateGoogle(newGoogleVal.value, true)"></i><i class = "fa fa-times" aria-hidden = "true" (click) = "OKupdateGoogle(newGoogleVal.value, false)"></i></label>
                        </div>
                      <br>


                    <div *ngIf = "!updateFacebookFlag">
                         Facebook Account: {{ user.facebook }} <i class = "fa fa-pencil  fa-1x" aria-hidden = "true" (click) = "updateFacebook()"></i>
                        </div>
                        <div *ngIf = "updateFacebookFlag">
                          <label> Facebook Account: <input #newFacebookVal class = "FacebookInput fields" type = "text" name = "txtFacebook"><i class = "fa fa-check  fa-1x" aria-hidden = "true" (click) = "OKupdateFacebook(newFacebookVal.value, true)"></i><i class = "fa fa-times" aria-hidden = "true" (click) = "OKupdateFacebook(newFacebookVal.value, false)"></i></label>
                        </div>
                      <br>


                    <div *ngIf = "!updateTwitterFlag">
                         Twitter Account: {{user.twitter}} <i class = "fa fa-pencil  fa-1x" aria-hidden = "true" (click) = "updateTwitter()"></i>
                        </div>
                        <div *ngIf = "updateTwitterFlag">
                          <label> Twitter Account: <input #newTwitterVal class = "TwitterInput fields" type = "text" name = "txtTwitter"><i class = "fa fa-check  fa-1x" aria-hidden = "true" (click) = "OKupdateTwitter(newTwitterVal.value, true)"></i><i class = "fa fa-times" aria-hidden = "true" (click) = "OKupdateTwitter(newTwitterVal.value, false)"></i></label>
                        </div>
                      <br>

                   
                  
                  </div>
              <a *ngIf = "user.permission=='3'" (click) = "PopMassage('sureToApproveUser')" ><i class="fa fa-check-square-o"></i> Approve user</a>    
              <a (click) = "PopMassage('sureToDeleteUser')" ><i class="fa fa-trash-o fa-fw"></i> Delete user</a>
              <br>
            </div>
          </div>
        </div>
      </div>

       
      

      <!-- For a community component 
  <div class="form-group btn-group open col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngFor = "let user of usersFBList | async">
    <a class="btn btn-primary" ><i class="fa fa-user fa-fw"></i> {{ user.name }}</a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
  </a>
    <ul class="dropdown-menu">
      <li><a><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
      <li><a><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
      <li class="divider"></li>
      <li><a><i class="fa fa-unlock"></i> Make admin</a></li>
    </ul>
    <br>
  </div>
-->

      <!-- Delete a community -->
      
            <!--=================================== popUp messages ======================================-->

      <div *ngIf = 'doesNeedPop' class = "popAlert">

        <form (deleteUser)="deleteUser(whatToDrop)">

          <div class = "close" (click) = "PopMassage('')">X</div>


          <div class = "sureToDeleteUser" *ngIf="whatToPop == 'sureToDeleteUser'">
             <br>
                You are sure you wont to delete {{whatToDrop.name}} user?
            <br><br>
            <input  class = "btn btn-success btn-lg center-block" id = "deleteUser" type = "deleteUser" value = "Delete" (click)="deleteUser(whatToDrop)">
          </div>


           <div class = "communityExist" *ngIf="whatToPop == 'communityExist'">
            
                This community already exists
            <br>
          </div>


          <div class = "communityAdd" *ngIf="whatToPop == 'communityAdd'">
            
                Community is added
            <br>
          </div>

          <div class = "communityEmpty" *ngIf="whatToPop == 'communityEmpty'">
             
                Enter a community name
            <br>
          </div>


        <div *ngIf="whatToPop == 'save/cancelName'" class = "save/cancelName">
			        	Save or cancel the new Name
				</div>

        <div *ngIf="whatToPop == 'validName'" class = "validName">
				You should enter a valid name
				</div>

        <div *ngIf="whatToPop == 'save/cancelGoogle'" class = "save/cancelGoogle">
			        	Save or cancel the new google account
				</div>

        <div *ngIf="whatToPop == 'validGoogle'" class = "validGoogle">
				You should enter a valid google account
				</div>

         <div *ngIf="whatToPop == 'save/cancelFacebook'" class = "save/cancelFacebook">
			        	Save or cancel the new  facebook account
				</div>

        <div *ngIf="whatToPop == 'validFacebook'" class = "validFacebook">
				You should enter a valid facebook account
				</div>

         <div *ngIf="whatToPop == 'save/cancelTwitter'" class = "save/cancelTwitter">
			        	Save or cancel the new twitter account
				</div>

        <div *ngIf="whatToPop == 'validTwitter'" class = "validTwitter">
				You should enter a valid twitter account
				</div>

        <div *ngIf="whatToPop == 'sureToApproveUser'" class = "sureToApproveUser">

                You are sure you wont to approve {{whatToDrop.name}} user?<br><br>
        <input  class = "btn btn-success btn-lg center-block" id = "approveUser" type = "approveUser" value = "approve" (click)="approveUser(whatToDrop)">

				</div>
        
        </form>

      </div>
      <!--========================================================================================-->





    </div>
  </div>
</div>