<div class="home">
  <div class="container">
    <div class="row">

      <br>
      <!-- add a community -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="input-group">
          <span class="input-group-btn">
        <button class="btn btn-default" (click)="addCommunity()" 
        type="button">add community</button>
      </span>
          <input [(ngModel)]="adcommunity" type="text" class="form-control" placeholder="maximum 20 letters">
        </div>
      </div>
      <br>
      <br>

      <!-- Choose a community -->
      <div class="form-group">
        <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">Community</label>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <select #selectedCommunity class="form-control">
          <option disabled selected >Community</option>
          <option *ngFor = "let community of adcommunityFBList | async" [value] = "community.name"> {{ community.name }} </option>
        </select>
        </div>
      </div>

      <!-- Showing the community's users -->

      <div class="showCommunity">
        <div *ngFor="let user of usersFBList | async">
          <div *ngIf="user.associatedCommunity == selectedCommunity.value">
            <br>
            <br>
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <button type="auser" class="btn btn-primary menubutton" title="Toggle dropdown menu" (click)="showDropdow(user)">
                <i class="fa fa-user fa-fw"></i> {{  user.name  }}<i class="fa fa-caret-down"></i></button>
              <div *ngIf="whatToDrop.$key==user.$key" class="menu">
              <a (click)="editUser()"><i class="fa fa-pencil fa-fw"></i> Edit</a>
                  <div *ngIf="editUserStatus" class="editor">

                    
                        <div *ngIf = "!updateNameFlag">
                          Name: {{ user.name }} <i class = "fa fa-pencil  fa-1x" aria-hidden = "true" (click) = "updateName()"></i>
                        </div>
                        <div *ngIf = "updateNameFlag">
                          <label> Name: <input #newNameVal class = "nameInput" type = "text" name = "txtName"><i class = "fa fa-check  fa-1x" aria-hidden = "true" (click) = "OKupdateName(newNameVal.value, true)"></i><i class = "fa fa-times" aria-hidden = "true" (click) = "OKupdateName(newNameVal.value, false)"></i></label>
                        </div>
                      <br>




                   
                    Community: {{user.associatedCommunity}} <br>
                    TenPartners Account: {{user.email}} <br>
                    Google Account:{{user.google}}<br>
                    Facebook Account:{{user.facebook}}<br>
                    Twitter Account:{{user.twitter}}<br>
                  </div>
              <a (click) = "PopMassage('sureToDeleteUser')" ><i class="fa fa-trash-o fa-fw"></i> Delete</a>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>

       <div class="form-group" *ngIf = "selectedCommunity.value!='Community'">
        
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
          <br>
          <button *ngIf="community!=''" type="delete" class="btn btn-danger btn-md deleteB" (click)="PopMassage('sureToDeleteComunity')"><i class="fa fa-trash-o fa-lg"></i> Delete this community </button>
        </div>
      </div>


      

      <!-- For a community component 
  <div class="form-group btn-group open col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngFor = "let user of usersFBList | async">
    <a class="btn btn-primary" ><i class="fa fa-user fa-fw"></i> {{ user.name }}</a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
  </a>
    <ul class="dropdown-menu">
      <li><a><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
      <li><a><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
      <li class="divider"></li>
      <li><a><i class="fa fa-unlock"></i> Make admin</a></li>
    </ul>
    <br>
  </div>
-->

      <!-- Delete a community -->
      
            <!--=================================== popUp messages ======================================-->

      <div *ngIf = 'doesNeedPop' class = "popAlert">

        <form (deleteComunity) ="deleteCommunity(selectedCommunity.value)" (deleteUser)="deleteUser(whatToDrop)">

          <div class = "close" (click) = "PopMassage('')">X</div>

          <div class = "sureToDeleteComunity" *ngIf="whatToPop == 'sureToDeleteComunity'">
             <br>
                You are sure you wont to delete {{selectedCommunity.value}} community?
            <br><br>
            <input  class = "btn btn-success btn-lg center-block" id = "deleteComunity" type = "deleteComunity" value = "Delete" (click)="deleteCommunity(selectedCommunity.value)">
          </div>


          <div class = "sureToDeleteUser" *ngIf="whatToPop == 'sureToDeleteUser'">
             <br>
                You are sure you wont to delete {{whatToDrop.name}} user?
            <br><br>
            <input  class = "btn btn-success btn-lg center-block" id = "deleteUser" type = "deleteUser" value = "Delete" (click)="deleteUser(whatToDrop)">
          </div>


           <div class = "communityExist" *ngIf="whatToPop == 'communityExist'">
            
                This community already exists
            <br>
          </div>


          <div class = "communityAdd" *ngIf="whatToPop == 'communityAdd'">
            
                Community is added
            <br>
          </div>

          <div class = "communityEmpty" *ngIf="whatToPop == 'communityEmpty'">
             
                Enter a community name
            <br>
          </div>


          <div *ngIf="whatToPop == 'save/cancelName'" class = "save/cancelName">
			        	Save or cancel the new Name
				</div>

        <div *ngIf="whatToPop == 'validName'" class = "validName">
				You should enter a valid name
				</div>


        </form>

      </div>
      <!--========================================================================================-->





    </div>
  </div>
</div>