
.bar{
    display: block;
    float: none;
}
button{
    width: fixed;
    height: fixed;
    padding: 2%;
    margin: 2%;
    text-align: center;
    min-height: 100px;
    line-height: 100px;
    background-color: #e2e2e2;
    float: left;
    border-radius: 10px 10px 10px 10px;
}

.settings{
position: absolute;
padding-left: auto;
float: right;
display: block;
cursor: pointer;


} 
