

 app-footer{
   display: block;
	 position: absolute;
  position: fixed;
	 bottom: 0%;
 }



app-header{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

#board{
background-color: #444C5C;
}


#voting{
background-color: #CE5A57;
}

#myProjects{
background-color: #78A5A3;
}

add{
background-color: #E1B16A;
}

