<div class = "mainPage">

<div class = "bar">


    
<button (click)="clicked($event)" id = "settings" ><img src="https://cdn0.iconfinder.com/data/icons/science-bold-line-2/48/56-512.png" claas = "settings" height="15px" />
</button>
<button (click)="clicked($event)" id = "myProject">My project</button>
<button (click)="clicked($event)" id = "voting">Voting projects</button>
<button (click)="clicked($event)" id = "board">Projects Board</button>
<button (click)="clicked($event)" id = "add">add project offer</button>

</div>
</div>