<div class="home">
  <br>
  <!-- add a community -->
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" (click)="addCommunity()" 
        type="button">add community</button>
      </span>
      <input [(ngModel)]="adcommunity" type="text" class="form-control" placeholder="maximum 20 letters">
    </div>
  </div>
  <br>
  <br>

  <!-- Choose a community -->
  <div class="form-group">
    <label class="col-lg-4 col-md-4 col-sm-4 col-xs-4 control-label">Community</label>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <select class="form-control">
          <option value="">Community</option>
          <option value = {{community.name}} *ngFor = "let community of adcommunityFBList | async"> {{ community.name }} </option>
        </select>
    </div>
  </div>

  <!-- Showing the community's users 
  it will work after creating a component for a user

  <div class="showCommunity">
    <div *ngFor="let user of users">
      <app-comuser *ngIf = "user.associatedCommunity == community.name " [item]="user" [path]="saveProjectPath(project)" [first]="firstC(project.$key)"></app-comuser>
    </div>
  </div>

  -->


  <!-- For a community component -->


  <!-- Delete a community -->
  <div class="form-group">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-right">
      <!--<button type="delete" class="btn btn-danger btn-md" (click)="deleteCommunity()"><i class="fa fa-trash-o fa-lg"></i> Delete </button>-->
    </div>
  </div>



</div>























<!--

  <div *ngFor = "let project of projects | async" > 
                    <!--<div *ngIf = "needToPrint(message.date | date: 'dd/MM/yy')">
                        <p class = "date-stamp"> {{ message.date | date: "MM/dd/yy" }} </p> 
                    </div>
                        <div >
                            <p id = "msg-name"> {{ project.date }}</p>
                             <p id = "msg-context"> {{ project.description}} </p>
                            <div class = "author">
                            </div>
                        </div>
                </div>

 -->