<div class="continer">
  <div class="col-lg-12">
<main>
	<h6>
	<img *ngIf="this.ObserveVotingStatus.val().for>=isSelected" src="https://firebasestorage.googleapis.com/v0/b/application-5baf2.appspot.com/o/selected.png?alt=media&token=87b4d537-eb23-4b48-a107-b259bf75bdae" class="img-responsive" alt="Cinque Terre" />
  	<img *ngIf= "this.ObserveVotingStatus.val().against>=isUnSelected" src="https://firebasestorage.googleapis.com/v0/b/application-5baf2.appspot.com/o/unselected%20(1).png?alt=media&token=ff7267f7-849a-4779-b5fb-a198143c9396" class="img-responsive" alt="Cinque Terre" />
		
		{{projectName}}
		
		<!--delete -->
		<a  aria-label = "Delete">
			<i class = "fa fa-trash-o pull-right" aria-hidden = "true" (click) = "PopMassage()"></i>
		</a>

		<div *ngFor = "let value of pointerToProjectInAF | async">
			
			<!-- cost -->
			<div *ngIf = "value.$key == 'cost'">
				<div *ngIf = "!updateCostFlag" class="row">
					Budget: {{ value.$value }} <i *ngIf = "!(this.ObserveVotingStatus.val().for==isSelected||this.ObserveVotingStatus.val().against>=isUnSelected)"  class = "fa fa-pencil  fa-1x" aria-hidden = "true" (click) = "updateCost()"></i>
				</div>
				<div *ngIf = "updateCostFlag" class="row">
					<label> Budget: <input #newCostVal class = "budgetInput" type = "number" name = "txtCost"><i class = "fa fa-check  fa-1x" aria-hidden = "true" (click) = "OKupdateCost(newCostVal.value, true)"></i><i class = "fa fa-times" aria-hidden = "true" (click) = "OKupdateCost(newCostVal.value, false)"></i></label>
				</div>
			</div>
			
			<!-- date -->
			<div *ngIf = "value.$key == 'date'" >
				<div *ngIf = "!updateDateFlag" class = "row">
					Date: {{ value.$value }}<i *ngIf = "!(this.ObserveVotingStatus.val().for==isSelected||this.ObserveVotingStatus.val().against>=isUnSelected)" class = "fa fa-pencil  fa-1x" aria-hidden = "true" (click) = "updateDate()"></i>
				</div>
				<div *ngIf = "updateDateFlag" class = "row">
					<label> Date: <input #newDateVal class = "dateInput" type = "text" name = "txtDate" placeholder = "dd/mm/yyyy" required><i class = "fa fa-check  fa-1x" aria-hidden = "true" (click) = "OKupdateDate(newDateVal.value, true)"></i><i class = "fa fa-times" aria-hidden = "true" (click) = "OKupdateDate(newDateVal.value, false)"></i></label>
				</div>
			</div>
		
		</div>

	    <!--=================================== popUp messages ======================================-->

		<div *ngIf = "doesNeedPop" class = "popAlert">
			<form (submit) = "removeProject()">
				<div class = "close" (click)="PopMassage()">X</div>

				<div *ngIf="whatToPop == 'deletePop'" class = "deletePop">
          		Are you sure you want to delete {{ projectName }} project? <br><br>
            	<input class = "btn btn-success btn-lg" id = "submitButton" type = "submit" value = "delete">
				</div>

				<div *ngIf="whatToPop == 'save/cancelPrice'" class = "save/cancelPrice">
          		Save or cancel the new price<br>
				</div>

				<div *ngIf="whatToPop == 'validDate'" class = "validDate">
				You should enter a valid date
				</div>

				<div *ngIf="whatToPop == 'save/cancelDate'" class = "save/cancelDate">
				Save or cancel the new date
				</div>

				<div *ngIf="whatToPop == 'validBudget'" class = "validBudget">
				You should enter a valid budget
				</div>

			</form>
		</div>
	    <!--========================================================================================-->
		</h6>
	</main>
  </div>
</div>