
main
{
	box-sizing: border-box;
	border-radius: 5px;
	border: 1.5px solid #cccccc;
	box-shadow: 0 0 10px #e6e6e6;
	background-color: #F5F5F5;
	padding: 1% 1% 1% 1%;
	margin-top: 1%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	height: 20%;
	width: 100%;
}

.card 
{
	height: 100%;
	background: red;
	position: unset;
}

i 
{
	font-size: 20px;
	padding-left: 10px;
	display: inline-block;
}

.row 
{
	margin-left: 25px;
	padding: 3px;
}

a 
{
	margin-right: 6px;
}

.btn-danger 
{
    color: #fff;
    background-color: #00008b;
	margin-right: 6px;
	margin-top: 10px;
	position: unset;
}

input 
{
	margin-right: 6px;
	max-width: 40%;
}

.budgetInput 
{
	display: inline;
}

.dateInput 
{
	margin-left: 26px;
	display: inline;
}

.fa-trash-o 
{
	color: red;
	font-size: 25px;
	padding-top: 3px;
	padding-right: 3px;
}

.fa-check 
{
	display: inline-block;
}

.fa-times 
{
	display: inline-block;
}

.nominateAlert 
{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
	right: 0px;
}

.close 
{
    position: absolute;
    left: -5%;
    top: -5%;
    background-color: black;
    border-radius:50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    opacity: 1;
    color: white;
}

.close:hover 
{
    opacity: 0.8;
}


.nominateAlert form 
{
	top:0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 7%;
    text-align: center;
    background-color: white;
	border-radius:10px;
	border-color: grey; 
	
	

}
