<header>
    <h1>Voting In Progress</h1>
</header>

<div class = "thePage">
    <nav>
        <div class="picture" id="pic1">    
            <img src="http://up416.siz.co.il/up2/2zyjeyizkjwl.png" class="unavailablePic">
        </div>
        <div class="picture" id="pic2">
             <img src="http://up416.siz.co.il/up2/2zyjeyizkjwl.png" class="unavailablePic">            
            <label for="for" id="for">For:</label>
            <label for="avoidance" id="avoidance">Avoidance:</label>
            <label for="against" id="against" >Against:</label>            
        </div>
        <div class="picture" id="pic3">
             <img src="http://up416.siz.co.il/up2/2zyjeyizkjwl.png" class="unavailablePic">
            <label for="avoidance" id="avoidance">Avoidance:</label>
        </div>
    </nav>

    <main>
        <div id="upDiv">
            <h2> No projects have been selected for discussion yet... </h2>
        </div>

        <div id="downDiv">
            ********* The chat will be here *********
        </div>
    </main>
</div>
