
<header>
    <h1>Voting In Progress</h1>
</header>

<div class = "thePage">
    <nav>
        <div class="picture" id="pic1">  
            <app-votingProject></app-votingProject>  
        </div>
        <div class="picture" id="pic2">
             <app-votingProject></app-votingProject>           
        </div>
        <div class="picture" id="pic3">
             <app-votingProject></app-votingProject> 
        </div>
    </nav>

    <main>
        <div id="upDiv">
            <h2> No projects have been selected for discussion yet... </h2>
        </div>

        <div id="downDiv">
            ********* The chat will be here *********
        </div>
    </main>
</div>
