
    <head>
		<title>tenPartners- My projects board</title>

	</head>
	
  <header>
	home...

  </header>

	<body>

	<div class = "project">
			<div class = "title"> <h3>Project name</h3> </div>
			<div class = "managementOptions">
				<div class = "Price">Price: <span>0</span></div>
				<button id = "pencilButton1"> <img src = "http://www.up2me.co.il/images/48651650.png" width = "35" height = "35" /></button>
				<div class = "Date">Date: <span>DD/MM/YY</span></div>
				<button id = "pencilButton2"> <img src = "http://www.up2me.co.il/images/48651650.png" width = "35" height = "35" /></button>
			</div>
			<div class = "cancelManagement">
        <a class = "btn btn-danger" id = "cmdCancelManagement" href = "#">
          <i class = "fa fa-trash-o fa-lg"></i> Delete</a>
      </div>
	</div>

  	<div class = "project">
			<div class = "title"> <h3>Project name</h3> </div>
			<div class = "managementOptions">
				<div class = "Price">Price: <span>0</span></div>
				<button id = "pencilButton1"> <img src = "http://www.up2me.co.il/images/48651650.png" width = "35" height = "35" /></button>
				<div class = "Date">Date: <span>DD/MM/YY</span></div>
				<button id = "pencilButton2"> <img src = "http://www.up2me.co.il/images/48651650.png" width = "35" height = "35" /></button>
				<div class = "clear"></div>
			</div>
			<div class = "cancelManagement">
        <a class = "btn btn-danger" id = "cmdCancelManagement" href = "#">
          <i class = "fa fa-trash-o fa-lg"></i> Delete</a>
      </div>
	</div>

  	<div class = "project">
			<div class = "title"> <h3>Project name</h3> </div>
			<div class = "managementOptions">
				<div class = "Price">Price: <span>0</span></div>
				<button id = "pencilButton1"> <img src = "http://www.up2me.co.il/images/48651650.png" width = "35" height = "35" /></button>
				<div class = "clear"></div>
				<div class = "Date">Date: <span>DD/MM/YY</span></div>
				<button id = "pencilButton2"> <img src = "http://www.up2me.co.il/images/48651650.png" width = "35" height = "35" /></button>
			</div>
			<div class = "cancelManagement">
        <a class = "btn btn-danger" id = "cmdCancelManagement" href = "#">
          <i class = "fa fa-trash-o fa-lg"></i> Delete</a>
      </div>
	</div>

  	<div class = "project">
			<div class = "title"> <h3>Project name</h3> </div>
			<div class = "managementOptions">
				<div class = "Price">Price: <span>0</span></div>
				<button id = "pencilButton1"> <img src = "http://www.up2me.co.il/images/48651650.png" width = "35" height = "35" /></button>
				<div class = "Date">Date: <span>DD/MM/YY</span></div>
				<button id = "pencilButton2"> <img src = "http://www.up2me.co.il/images/48651650.png" width = "35" height = "35" /></button>
			</div>
			<div class = "cancelManagement">
        <a class = "btn btn-danger" id = "cmdCancelManagement" href = "#">
          <i class = "fa fa-trash-o fa-lg"></i> Delete</a>
      </div>
	</div>

	