
<div class = "head">
 <i class="fa fa-user-circle-o fa-2x" aria-hidden="true" (click)="_toggleSidebar()" id="settings"></i>
<div class = "title">{{item}}</div>
</div>


  <!-- Container for sidebar(s) + page content -->
    <ng-sidebar-container>

      <!-- A sidebar -->
      <ng-sidebar [(opened)]="_opened">
        <div class = "list">


<button type="button" class="close" (click)="_toggleSidebar()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>

<div class = "nav logout">Logout  
<a><span class="glyphicon glyphicon-log-out" (click)="logOut()"></span></a>
</div>

<div class = "nav notification">Notification
<label class="switch">
<input type="checkbox">
<div class="slider round"></div>
</label>

</div>

<div class = "nav changePass">Change password</div>

<div class="nav mailNotification">Notification to the email
<label class="switch">
<input type="checkbox">
<div class="slider round"></div>
</label>
</div>      
</div>
</ng-sidebar>

    </ng-sidebar-container>
    
