
<div class = "head">
 <i class="fa fa-user-circle-o fa-2x" aria-hidden="true" (click)="sidenav.open()" id="settings"></i>
<div class = "title">{{item}}</div>
</div>


<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav">
  
   <div class = "nav logout">Logout</div>
  
   <div class = "nav notification">Notification
    <label class="switch">
    <input type="checkbox">
    <div class="slider round"></div>
    </label>

   </div>
  
  <div class = "nav changePass">Change password</div>
  
  <div class="nav mailNotification">Notification to the email
  <label class="switch">
  <input type="checkbox">
  <div class="slider round"></div>
  </label>

  </div>

  </md-sidenav>

</md-sidenav-container>


