.title{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; 
    width: 100%;
    font-size: 22px;
    margin-right: 50px;
}

.head{
    background-color:#F8F9F9 ; 
    height: 40px;
    width: 100%;
    position: fixed;
     top: 0;
     margin-bottom: 35px;
     z-index: 10;
    margin: 0;
    padding: 0;
    display: inline-flex;
    overflow: hidden;
	border: 1.5px solid #cccccc;

}

.onoffswitch1{
  display: inline;
}

#settings
{
cursor: pointer;
color: black;
position: relative;
margin: 5px;
}


.example-container {
  width: 100%;
  height: 100%;
  opacity: 0.9;

}

.example-sidenav-content {
  display: flex;
  height: 100%;
  width: 60%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding-top:50px;
  padding-right:20px;
  padding-left:20px;  
  background-color: #F8F9F9;
}

md-sidenav-container{
    background-color: transparent;
    position: absolute;
}

.glyphicon-log-out{
  padding-left: 10px;
}

.nav{
  padding-bottom: 20px;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: -6px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.example-container{
  display: inline-flex;
    overflow: hidden;
    position: fixed;
}
.list{
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  background-color:#F8F9F9;
  opacity: 0.9;

}
ng-sidebar{
  opacity: 0.9;
  
}

.close {
  font-size: 29px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}
.close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}