.title{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; 
    width: 100%;
    font-size: 22px;
    margin-right: 50px;
}

.head{
    background-color: #F5F5F5;
    height: 40px;
    width: 100%;
    position: fixed;
     top: 0;
     margin-bottom: 35px;
     z-index: 10;
    margin: 0;
    padding: 0;
    display: inline-flex;
    list-style-type: none;
    overflow: hidden;
    border: width border-style color;
   }

#settings
{
cursor: pointer;
color: black;
position: relative;
margin: 5px;
}

