
<div class = "head">
  <i class="fa fa-user-circle-o fa-2x" aria-hidden="true" (click)="toggleSidebar()" id="settings"></i>
    <div class = "title">{{item}}</div>
</div>

<div *ngIf="isOpen" class="sider">
<div class = "list">

      <a class="close" (click)="toggleSidebar()">×</a>
      <div class = "nav logout" (click)="logOut()">Logout  
        <a><span class="glyphicon glyphicon-log-out"></span></a>
      </div>

      <div class = "nav changePass" (click) = "chengePassword()">Change password</div>

      <div class="nav mailNotification">Notification to the email
        <label class="switch">
          <input type="checkbox">
          <div class="slider round"></div>
        </label>
      </div>

    </div>
</div>
