.btn-primary{
margin-top: 10px;
}

.about{
text-align: center;
font-style: bold;
text-decoration: underline;
padding-top: 10px;
font-size: 10px;

}


.forget{
    font-style: bold;
    text-align: center;
    text-decoration: underline;
    font-size: 10px;
    padding-top: 5px;
}
.services{
    padding-top: 10px;
    text-align: center;
    font-style: bold;

}

.logo{

    padding:10%;
}

img{
    height: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

