
<div class= "main">

    <div id="up">
        <div class = "row">
            <div class="projectName  container">
                <h6> {{projectName}} </h6>
            </div>
        </div>
    </div>

    <div *ngFor = "let value of projectInCommunityFBList | async">
        <div id = "down">
            <div *ngIf = "value.$key == 'uploudDate'"></div>
        </div>
    </div>

    <!--<div class="stopper" data-date="2017/08/01"></div>-->
    <div class="stopper btn-success">{{ projectUplodeDate }}</div>

</div>