
/*=========== main\top-side of project's square ==========*/

main
{
    font-family: "comic sans ms";
    font-weight: bold;
    color:gray;
    height: 100%;
    width: 100%;
    border-color:   #D6D6CC
;
    background-color:  #FFFFF5

;
    border-style: solid;

}



#up
{
    height: 150px;
    width: 100%;

}

#clock
{
    float: left;
}

.row{
margin-left:40%;

}
