.btn-default{
	border: none;
}

.btn-default:active{
	color: darkblue;
}

.footer{
   display: block;
position: absolute;
  position: fixed;
  	border: 1.5px solid #cccccc;

	 bottom: 0%;
 
}
button{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	height: 100%;
	margin: auto;


	}


#set,#myP,#mDB,#votInPro,#pro,#sub{
	display: block;
	margin: auto;
	margin-bottom: 5px;

}

a{
	font-size: 10px;
}


