 
 <!--======================= constant header ==========================-->
 <app-header [item]="'Voting In Progress'"></app-header>  

 <!--========================== the page ==============================-->

    <body>
      <div class = " part1">
            <!--<div class = " col-centered">-->
             <!--<div #scrollMeProj class = "vertical-menu-x" > <!============ -->
                <div class="picture" id="pic1">  
                    <app-projectForVote></app-projectForVote> 
                </div>
                <div class="picture" id="pic2">
                    <app-projectForVote></app-projectForVote>           
                </div>
                <div class="picture" id="pic3">
                    <app-projectForVote></app-projectForVote> 
                </div>
                <!--<div class="picture" id="pic4">
                    <app-projectForVote></app-projectForVote>           
                </div>-->
             <!--</div>-->
             <!--</div>-->
        <!--</div>-->
      </div>  
      

        <div class = " part2">
            <div #scrollMe class = "vertical-menu1" >
                <h4> No projects have been selected for discussion yet... </h4>
            </div>
        </div>
       
        <div class = " part3">
            <div #scrollMe class = "vertical-menu2" >
                <div *ngFor = "let message of messages | async" > 
                    <!--<div *ngIf = "needToPrint(message.date | date: 'dd/MM/yy')">
                        <p class = "date-stamp"> {{ message.date | date: "MM/dd/yy" }} </p> 
                    </div> -->
                        <div class = "bubble" [class.bubble-alt] = "isMe(message.name)" [class.yellow] = "isMe(message.name)" [class.green] = "!isMe(message.email)">
                            <p id = "msg-name"> {{ message.displayName }}</p>
                             <p id = "msg-context"> {{ message.message }} </p>
                            <div class = "author">
                                <span> {{ message.timestamp | date: "MM/dd/yy hh:mm a" }} </span>
                            </div>
                        </div>
                </div>
            </div>

            <div class = "input-group">
                <span class = "input-group-btn"> 
                   <button class = "btn btn-difult" type = "submit" (click) = "sendMessage()">Send  <i class = "fa fa-arrow-up"></i></button>
                </span>
                <input type = "text" class = "form-control" id = "msg-input" placeholder = "Write your message here.." (keyup.enter) = "sendMessage()" [(ngModel)] = "newMessage">                                
            </div>
        </div>
    </body>


<!--======================= constant footer ==========================-->
<app-footer></app-footer>