

 <!--========================== the page ==============================-->

    <div class = "body2">
        <div class = "part1 vertical-menu-x" >
            <div  class = "temp" *ngFor = "let associatedCommunities of projectsAssociatedCommunities_Arr; let i = index">
                <div *ngFor = "let community of associatedCommunities | async ">
                    <!--<div class = " col-centered">-->
                        <div *ngIf = "community.$key == userCommunity && community.associatedUser != '' && saveProjectPath(community,i)">  
                            <app-projectForVote  class = "pull-left"
                                [item] = "projectPath" 
                                (click) = "loadProjectDetails(community,i)">
                            </app-projectForVote> 
                    </div>
                </div>
            </div>
        </div>  
      
<!--//No projects have been selected for discussion yet...-->
        <div class = " part2">
            <div class = "vertical-menu1" > 
                <h5 *ngIf = 'projectSelected'> 
                    <p> Date: {{date}} </p>
                    <p> Cost: {{cost}} </p>
                    <p> Purpose: {{purpose}} </p>
                    <p> Description: {{description}} </p>
                </h5>
                <h4 *ngIf = '!projectSelected'> Click on a project for viewing its details... </h4>
            </div>
        </div>
       
        <div class = " part3">
            <div #scrollMe class = "vertical-menu2" >
                <div *ngIf = "projectSelected">
                <div *ngIf="(messages | async)?.length == 0"> 
                   <h4> No messages have been written about this project yet.</h4>
                 </div>
                    <div *ngFor = "let message of messages | async; trackByFn" >
           
                        <!-- the dates between the bubbles -->
                        <!--<div *ngIf = "needToPrint(message.date | date: 'dd/MM/yy')">
                            <p class = "date-stamp"> {{ message.date | date: "MM/dd/yy" }} </p> 
                        </div> -->
                        
                        <!-- the bubble's text -->
                        <div class = "bubble" [class.bubble-alt] = "isMe(message.email)" [class.yellow] = "isMe(message.email)" [class.green] = "!isMe(message.email)">
                            <p id = "msg-name"> {{ message.name }}</p>
                            <p id = "msg-context"> {{ message.message }} </p>
                            <div class = "author">
                                <span id="msg-time"> {{ message.date | date: "MM/dd/yy hh:mm a" }} </span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class = "input-group">
                <span class = "input-group-btn"> 
                   <button class = "input btn btn-difult" type = "submit" (click) = "sendMessage()">Send  <i class = "input fa fa-arrow-up"></i></button>
                </span>
                <input type = "text" class = "input form-control" id = "msg-input" placeholder = "Write your message here.." (keyup.enter) = "sendMessage()" [(ngModel)] = "newMessage">                                
            </div>
        </div>

    </div>









