
<header>

<i class = "fa fa-home fa-3x fa-fw" id = "house"  aria-hidden = "true"></i>

<a class = "btn btn-default btn-sm" id = "settings" href = "#">
  <i class = "fa fa-cog fa-spin" ></i> Settings </a>

<img src="https://camo.githubusercontent.com/aa3e5981c6386ed94a17840118d033a991448ae5/68747470733a2f2f692e696d6775722e636f6d2f507a46567579612e706e67" claas = "logo" />

</header>



<main>

<div class = "bar">

<button (click)="clicked($event)" id = "board">Projects Board</button>
<button (click)="clicked($event)" id = "voting">Projects for Voting</button>
<button (click)="clicked($event)" id = "myProject">My Projects</button>
<button (click)="clicked($event)" id = "add">Add a project's offer</button>


</div>
</main>