header{
    background-color: black;
    margin-bottom: 10px;
}


#house
{
cursor: pointer;
color: #cc0000;
margin: 1px;


}

#settings
{
cursor: pointer;
font-size: 140%;
margin: 1px;
text-align: center;
background-color: black;
color: white;
} 

button{
    width: 95%;
    height: 130px;
    margin: 7px;
    border-radius: 12px;
}


#board{
background-color: #444C5C;
}


#voting{
background-color: #CE5A57;
}

#myProjects{
background-color: #78A5A3;
}

add{
background-color: #E1B16A;
}