
<header>

<i class = "fa fa-home fa-3x fa-fw" id = "house"  aria-hidden = "true"></i>

<a class = "btn btn-default btn-sm" id = "settings" href = "#"></a>


</header>



<main>

<div class = "bar">
<div class="col-lg-6 col-md-6 col-xs-6 thumb">
<button (click)="clicked($event)"  id = "board" class="btn btn-primary btn-lg btn3d" >Projects Board</button>
</div>
<div class="col-lg-6 col-md-6 col-xs-6 thumb">
<button (click)="clicked($event)"  id = "voting" class="btn btn-primary btn-lg btn3d" >Projects for Voting</button>
</div>
<div class="col-lg-6 col-md-6 col-xs-6 thumb">
<button (click)="clicked($event)"  id = "myProjects" class="btn btn-primary btn-lg btn3d" >My Projects</button>
</div>
<div class="col-lg-6 col-md-6 col-xs-6 thumb">
<button (click)="clicked($event)"  id = "add" class="btn btn-primary btn-lg btn3d" >Add a project's offer</button>
</div>

</div>
</main>