

<div class = "MyProjects">
	<div class = "continer">
		<div class = "col-lg-12">
			<div *ngFor = "let associatedCommunities of projectsAssociatedCommunities_Arr; let i = index;  " [attr.data-index] = "i" >
				<div *ngFor = "let community of associatedCommunities | async">
					<!--<div *ngIf = 'updateThereIsProjectsFlag(false)'></div>--> <!--dont work if i have 1 project-->
					<div *ngIf = "community.$key == user.community && community.associatedUser == user.id && saveProjectPath(community,i)" class="picture" id="pic1">  
						<div class = "project" *ngIf = "community && updateThereIsProjectsFlag(true)">
							<app-projectForUpdate
								[item] = "projectPath">
							</app-projectForUpdate> 
						</div>
					</div>
				</div>
				<!--<div *ngIf = "!isThereProjects && i == projectsAssociatedCommunities_Arr.length-1">
					You don't have any associated projects yet.
				</div> --> <!--dont work if i have 1 project-->
			</div>		
		</div>
	</div>
	<div *ngIf='isNoProjects' class = "noProjects">
		You don't have any associated projects.
	</div>

</div>
	