
head
{
	display: block;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 30px;
	margin: 10px;
}

body
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	background: url('http://www.up2me.co.il/images/51167478.png');
	position: absolute;
	display: block;
}
 