
.MyProjects 
{
	padding-top: 45px;
    padding-bottom: 69px;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.continer, .col-lg-12 
{
	position: unset;
}

.d4
{
  overflow: auto;
  max-height:  87vh;
}

.d5 
{
    min-width: 0px;
    max-height: 87vh;
}