

<!--=========================== the page =============================-->

<div class = "MyProjects">
<div class="continer">
			<div class="col-lg-12">
				<div class = "project">
					<app-projectForUpdate></app-projectForUpdate>
				</div>
				<div class = "project">
					<app-projectForUpdate></app-projectForUpdate>
				</div>
				<div class = "project">
					<app-projectForUpdate></app-projectForUpdate>
				</div>
				<div class = "project">
					<app-projectForUpdate></app-projectForUpdate>
				</div>
				<div class = "project">
					<app-projectForUpdate></app-projectForUpdate>
				</div>
				<div class = "project">
					<app-projectForUpdate></app-projectForUpdate>
				</div>
			</div>
</div>
</div>
	