<!-- the page title -->
<app-header [item]="title"></app-header>

<!-- the page -->
<div class = "MyProjects">
	<div class = "d4">
   		<div class = "d5">
			<div *ngFor = "let associatedCommunities of projectsAssociatedCommunities_Arr; let i = index;  " [attr.data-index] = "i" >
				<div *ngFor = "let community of associatedCommunities | async">
					<!--<div *ngIf = 'updateThereIsProjectsFlag(false)'></div>--> <!--dont work if i have 1 project-->
					<div *ngIf = "community.$key == user.community && community.associatedUser == user.id && saveProjectPath(community,i)" class="picture" id="pic1">  
						<div class = "project" *ngIf = "community && updateThereIsProjectsFlag(true)">
							<app-projectForUpdate
								[item] = "projectPath">
							</app-projectForUpdate> 
						</div>
					</div>
				</div>
			</div>		
	
			<h6 *ngIf='!isThereProjects ' class = "noProjects">
				You don't have any associated projects. <br><br>
				If you want to discuss a particular project go to "Master-DB" or "Submitted projects" and associate it with you. 
			</h6>
   		</div>
	</div>
</div>
	