
.MyProjects
{
	padding-top:60px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	/**background: url('http://www.up2me.co.il/images/51167478.png');**/
	width :100%;
	margin-bottom:70px;
}

.continer{
	position: unset;
}


.col-lg-12{
position: unset;
}