    <main>
    
    <div id="up">
        <i class="fa fa-clock-o fa-2x" id="clock" aria-hidden="true"></i>
        <div class = "row">
            <div class = 'col-xs-12 col-md-12 col-lg-12 align-right'>
                <i class = "fa fa-thumbs-o-up" id="like" aria-hidden="true" (click)="votFor()" *ngIf="!votingFor || votingFirstTime" ></i>
            </div>
            <div class = 'col-xs-12 col-md-12 col-lg-12 align-right'>
                <i class = "fa fa-thumbs-o-down" id="unlike" aria-hidden="true" (click)="votAgainst()" *ngIf="votingFor || votingFirstTime" ></i>
            </div>
        </div>

    </div>


   <!-- <i class="fa fa-picture-o fa-5x" id="unavailablePic" aria-hidden="true"></i>-->

    <div id = "down">
    
    <label for="for" id="for"><i class=" fa fa-thumbs-o-up fa-lg" aria-hidden="true" ></i><p> {{for}} </p> </label>
    <label for="avoidance" id="avoidance"><i class="fa fa-ban" aria-hidden="true"></i> <p>{{avoidance}}</p></label>
    <label for="against" id="against" ><i class=" fa fa-thumbs-o-down fa-lg " aria-hidden="true"></i><p> {{against}} </p></label>  
    
    </div>

    </main>