    <main>
    
    <div id="up">
    <i class="fa fa-clock-o fa-lg" id="clock" aria-hidden="true"></i>
    <i class="fa fa-thumbs-o-up fa-lg" id="like" aria-hidden="true"></i>
    <i class="fa fa-thumbs-o-down fa-lg" id="unlike" aria-hidden="true"></i>
    <i class="fa fa-circle-thin fa-3x" id="circle" aria-hidden="true"></i>
    <i class="fa fa-picture-o fa-5x" id="unavailablePic" aria-hidden="true"></i>
    </div>

    <div id = "down">         
    <label for="for" id="for">For:</label>
    <label for="avoidance" id="avoidance">Avoidance:</label>
    <label for="against" id="against" >Against:</label>  
    </div>

    </main>
