<div class="container">
  <app-header></app-header>
</div>

<div class="container">

<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
            <label for="username">Username</label>
            <input type="text" class="form-control" required />
          

            <label for="password">Password</label>
            <input type="password" class="form-control"  required />
          

            <button [disabled]="loading" class="btn btn-primary" (click)="clicked()" >Login</button>
            
       



  <app-footer></app-footer>
 </div>
</div>